<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>View Achievements</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="supabaseLogin()" [formGroup]="credentials">
    <div class="input-group">
      <ion-list lines="none">
        <ion-item>
          <ion-label>Login/SignUp to View Achievements</ion-label>
        </ion-item>
        <ion-item>
          <ion-input
            class="ion-margin-top"
            type="email"
            label="email"
            aria-label="email"
            label-placement="floating"
            fill="outline"
            placeholder="john@doe.com"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            class="ion-margin-top"
            label="password"
            aria-label="password"
            label-placement="floating"
            fill="outline"
            type="password"
            placeholder="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-button
      class="ion-margin"
      type="submit"
      expand="full"
      fill="solid"
      shape="round"
      color="primary"
      [disabled]="!credentials.valid"
      >Log in</ion-button
    >
    <ion-button
      class="ion-margin"
      type="button"
      expand="full"
      fill="outline"
      shape="round"
      (click)="signUp()"
      color="primary"
      >Sign Up
    </ion-button>
  </form>
</ion-content>
