<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notepad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="clearEditor()">
        <ion-icon
          slot="icon-only"
          color="danger"
          name="trash-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notepad</ion-title>
    </ion-toolbar>
  </ion-header>

  <quill-editor
    (onContentChanged)="getWordCount()"
    [(ngModel)]="myText"
  ></quill-editor>
  <ion-item lines="none"> Word count: {{ wordCount }}</ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="preview()">
      <ion-icon name="eye"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
