<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notepad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="clearEditor()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="preview()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notepad</ion-title>
    </ion-toolbar>
  </ion-header>

  <quill-editor autofocus [(ngModel)]="myText"></quill-editor>
</ion-content>
