<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Module Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Module Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="module">
    <ion-img [src]="urlRandomImages + '/300/150'"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Module Name</ion-card-subtitle>
      <ion-card-title>{{module.moduleName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>General Information</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-label>Due Date: {{module.dueDate}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Credits: {{module.credits}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Module No.: {{module.moduleNo}}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Contact</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-label>Website: {{module.website}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-button
              (click)="openHomePage()"
              expand="block"
              fill="clear"
              shape="round"
            >
              Visit Website
            </ion-button>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="module">
    <ion-card-header>
      <ion-card-title>Location</ion-card-title>
      <ion-card-subtitle>{{module.moduleName}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Location: {{module.location}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Room: {{module.room}}</ion-label>
        </ion-item>

        <!-- will probably use these values to display a map using external maps api -->
        <ion-item>
          <ion-label>Latitude: {{module.lat}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Longitude: {{module.long}}</ion-label>
        </ion-item>

        <ion-button
          (click)="openMap(module)"
          expand="full"
          fill="solid"
          shape="round"
        >
          View on Map
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
