<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" *ngIf="note">
    <ion-item>
      <ion-label>{{note.timestamp}}</ion-label>
      <ion-icon slot="end" name="close" (click)="dismissModal()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input aria-label="title" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-textarea
        aria-label="note"
        [(ngModel)]="note.text"
        rows="8"
      ></ion-textarea>
    </ion-item>

    <ion-button
      color="danger"
      class="ion-margin"
      shape="round"
      (click)="deleteNote()"
      expand="block"
    >
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Delete
    </ion-button>
    <ion-button
      shape="round"
      class="ion-margin"
      color="success"
      (click)="updateNote()"
      expand="block"
    >
      <ion-icon slot="start" name="save"></ion-icon> Update
    </ion-button>
  </ion-list>
</ion-content>
