<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" #tab1>
      <!-- Below is the code that changes the icon based on the selected state of
      the tab.
      The icon is set to the school icon if the tab is selected and the school-outline icon if the tab is not selected. -->
      <!-- Icon source: https://ionic.io/ionicons  -->
      <ion-icon
        [name]="tab1.selected ? 'library' : 'library-outline'"
      ></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" #tab2>
      <!-- Below is the code that changes the icon based on the selected state of
      the tab.
      The icon is set to the person icon if the tab is selected and the person-outline icon if the tab is not selected. -->
      <ion-icon [name]="tab2.selected ? 'people' : 'people-outline'"></ion-icon>
      <ion-label>Classroom</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diary" #diary>
      <!-- Below is the code that changes the icon based on the selected state of
      the tab.
      The icon is set to the calendar icon if the tab is selected and the calendar-outline icon if the tab is not selected. -->
      <ion-icon
        [name]="diary.selected ? 'documents' : 'documents-outline'"
      ></ion-icon>
      <ion-label>My Diary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" #tab4>
      <ion-icon
        [name]="tab4.selected ? 'person-circle' : 'person-circle-outline'"
      ></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
