<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Login/Sign Up</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-input
      class="ion-margin-top"
      fill="outline"
      label="E-Mail"
      label-placement="floating"
      required
      formControlName="email"
      type="email"
    ></ion-input>
    <ion-note
      color="danger"
      slot="error"
      *ngIf="email && (email.dirty || email.touched) && email.errors"
      >Email is Invalid</ion-note
    >

    <ion-input
      class="ion-margin-top"
      label-placement="floating"
      fill="outline"
      label="Password"
      required
      formControlName="password"
      type="password"
    ></ion-input>
    <ion-note
      color="danger"
      slot="error"
      *ngIf="password && (password.dirty || password.touched) && password.errors"
      >Password is Invalid. It needs to be 6 characters.</ion-note
    >

    <ion-button
      class="ion-margin-top"
      expand="full"
      shape="round"
      color="primary"
      type="submit"
      [disabled]="credentials.invalid"
      [strong]="true"
    >
      Login
    </ion-button>
    <ion-button
      fill="outline"
      class="ion-margin-top"
      expand="full"
      shape="round"
      color="primary"
      type="button"
      [strong]="true"
      (click)="register()"
    >
      Create Account
    </ion-button>
  </form>
  <br />

  <ion-card class="ion-padding">
    <ion-button
      class="ion-margin-top"
      (click)="googleLogin()"
      expand="full"
      fill="solid"
      shape="round"
      *ngIf="!googleUser"
    >
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Google Login
    </ion-button>
    <ion-button
      (click)="googleSignOut()"
      expand="full"
      fill="outline"
      shape="round"
      *ngIf="googleUser"
    >
      Google Logout
    </ion-button>

    <ion-item lines="none" *ngIf="googleUser">
      <ion-avatar slot="start">
        <img title="user" [src]="googleUser.user.photoURL" />
      </ion-avatar>
      <ion-label>
        {{googleUser.user.displayName}}
        <p>{{googleUser.user.email}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Facebook Login -->
  <ion-card class="ion-padding">
    <ion-button
      class="ion-margin-top"
      (click)="facebookLogin()"
      expand="full"
      fill="solid"
      shape="round"
      *ngIf="!fbUser"
    >
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Facebook Login
    </ion-button>

    <ion-button
      *ngIf="fbUser"
      (click)="facebookLogout()"
      expand="block"
      fill="outline"
      shape="round"
    >
      Facebook Logout
    </ion-button>

    <ion-item *ngIf="fbUser" lines="none">
      <ion-avatar slot="start">
        <img title="user" [src]="fbUser.user.photoURL" />
      </ion-avatar>
      <ion-label>
        <p>{{fbUser.user.displayName}}</p>
        <p>{{fbUser.user.email}}</p>
        <p>DOB: {{fbUser.user.reloadUserInfo.dateOfBirth}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Twitter Login -->
  <ion-card class="ion-padding">
    <ion-button
      class="ion-margin-top"
      (click)="twitterLogin()"
      expand="full"
      fill="solid"
      shape="round"
      *ngIf="!twitterUser"
    >
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      Twitter Login
    </ion-button>

    <ion-button
      *ngIf="twitterUser"
      (click)="twitterLogout()"
      expand="block"
      fill="outline"
      shape="round"
    >
      Twitter Logout
    </ion-button>

    <ion-item *ngIf="twitterUser" lines="none">
      <ion-avatar slot="start">
        <img title="user" [src]="twitterUser.user.photoURL" />
      </ion-avatar>
      <ion-label>
        <p>{{twitterUser.user.displayName}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <!-- GIthub Login -->
  <ion-card class="ion-padding">
    <ion-button
      class="ion-margin-top"
      (click)="githubLogin()"
      expand="full"
      fill="solid"
      shape="round"
      *ngIf="!githubUser"
    >
      <ion-icon slot="start" name="logo-github"></ion-icon>
      Github Login
    </ion-button>

    <ion-button
      *ngIf="githubUser"
      (click)="githubLogout()"
      expand="block"
      fill="outline"
      shape="round"
    >
      Github Logout
    </ion-button>

    <ion-item *ngIf="githubUser" lines="none">
      <ion-avatar slot="start">
        <img title="user" [src]="githubUser.user.photoURL" />
      </ion-avatar>
      <ion-label>
        <p>{{githubUser.user.displayName}}</p>
        <p>{{githubUser.user.email}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
