<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>GrangeMobile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="full">
        <ion-menu-toggle>
          <ion-item detail="true" button routerLink="/tabs/tab3">
            <ion-icon slot="start" name="people-circle-outline"></ion-icon>
            <ion-label>My Lecturers</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item detail="true" button routerLink="/tabs/list">
            <ion-icon slot="start" name="star-half-outline"></ion-icon>
            <ion-label>Achievements</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item detail="true" button routerLink="/tabs/notifications">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item detail="true" button routerLink="/tabs/tab3">
            <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
            <ion-label>Class Chat</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item detail="true" button routerLink="/tabs/login">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            <ion-label>Login/Register</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-list lines="none">
        <ion-item class="ion-margin" (click)="logout()">
          <ion-label>Logout</ion-label>
          <ion-icon slot="end" name="log-out-outline"></ion-icon>
        </ion-item>
        <ion-item class="ion-margin">
          <ion-toggle
            (ionChange)="onToggleColorTheme($event)"
            [enableOnOffLabels]="true"
            >Dark Mode</ion-toggle
          >
        </ion-item>
      </ion-list>

      <ion-toolbar>
        <ion-label class="ion-margin"> Karan Gupta | D22124440</ion-label>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
