<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item>
      <!-- <ion-label position="floating">Event Title</ion-label> -->
      <ion-input
        class="ion-margin-top"
        aria-label="title"
        type="text"
        [(ngModel)]="event.title"
        label-placement="floating"
        label="Event Title"
        fill="outline"
      ></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="floating">Event Description</ion-label> -->
      <ion-input
        class="ion-margin-top"
        aria-label="description"
        label="Event Description"
        type="text"
        [(ngModel)]="event.description"
        label-placement="floating"
        fill="outline"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            [showDefaultTitle]="true"
            [showDefaultButtons]="true"
            id="datetime"
            (ionChange)="updateStartTime($event)"
            [value]="event.startTime.toISOString()"
            timezone="Europe/Dublin"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime-button datetime="datetime3"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            [showDefaultTitle]="true"
            [showDefaultButtons]="true"
            id="datetime3"
            (ionChange)="updateEndTime($event)"
            [value]="event.endTime.toISOString()"
            timezone="Europe/Dublin"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-button
      class="ion-padding ion-margin"
      expand="full"
      fill="solid"
      shape="round"
      color="primary"
      (click)="updateEvent()"
    >
      Update Event
    </ion-button>
    <ion-button
      class="ion-padding ion-margin"
      expand="full"
      fill="outline"
      shape="round"
      color="primary"
      (click)="deleteEvent()"
    >
      Delete Event
    </ion-button>
    <ion-button
      class="ion-padding ion-margin"
      expand="full"
      fill="clear"
      shape="round"
      color="primary"
      (click)="cancelEvent()"
    >
      Cancel
    </ion-button>
  </ion-list>
</ion-content>
