<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Module Comparison</ion-card-subtitle>
    <ion-card-title>Grades</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas
      class="chart"
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>

    <ion-button color="secondary" fill="solid" (click)="randomize()">
      {{ barChartType === "bar" ? "Line" : "Bar" }} Chart
    </ion-button>
  </ion-card-content>
</ion-card>
