<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Student ID</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{student.studentID}}</ion-label>
        <ion-label slot="end">Not Editable</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Edit Below Details: </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-input
          class="ion-margin-top"
          label="First Name"
          label-placement="floating"
          fill="outline"
          aria-label="First Name"
          type="text"
          [(ngModel)]="student.firstName"
          [value]="student.firstName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-top"
          label="Last Name"
          label-placement="floating"
          fill="outline"
          aria-label="Last Name"
          type="text"
          [(ngModel)]="student.lastName"
          [value]="student.lastName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-top"
          label="Course ID"
          label-placement="floating"
          fill="outline"
          aria-label="Course ID"
          type="text"
          [(ngModel)]="student.courseID"
          [value]="student.courseID"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-top"
          label="Module No. 1"
          label-placement="floating"
          fill="outline"
          aria-label="Module No. 1"
          type="text"
          [(ngModel)]="student.moduleNo1"
          [value]="student.moduleNo1"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-top"
          label="Module No. 2"
          label-placement="floating"
          fill="outline"
          aria-label="Module No. 2"
          type="text"
          [(ngModel)]="student.moduleNo2"
          [value]="student.moduleNo2"
        ></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-button
    (click)="updateStudentDetails(student.studentID, student)"
    expand="block"
    class="ion-margin"
    fill="solid"
    shape="round"
  >
    Update Details
  </ion-button>

  <ion-button
    defaultHref="tabs/tab2"
    expand="block"
    fill="none"
    color="medium"
    [routerLink]="['/tabs/tab2']"
    >Cancel</ion-button
  >
</ion-content>
