<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>My Diary</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab3">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Diary</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Added a segment to the page to allow the user to switch between different pages -->

  <!-- Added segments from ionic framework to segment the page into three separate pages all accessible via a segment nav on top -->

  <ion-segment [(ngModel)]="selectTabs">
    <!-- ngModel is used to bind the value of the segment to the selectTabs variable -->
    <ion-segment-button value="schedule">
      <ion-label>Schedule</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="tasks">
      <ion-label>Tasks</ion-label>
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="notes">
      <ion-label>Notes</ion-label>
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Added ngIf below to display data specific to the selected segment -->
  <ion-content class="ion-padding-top" *ngIf="selectTabs === 'schedule'">
    <ion-segment [(ngModel)]="calendar.mode">
      <ion-segment-button value="month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day">
        <ion-label>Day</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- <ion-buttons slot="end"> -->

    <!-- </ion-buttons> -->

    <ion-list-header class="ion-padding">
      <ion-label>{{viewTitle}}</ion-label>

      <ion-button
        (click)="addNewEvent()"
        expand="block"
        fill="outline"
        shape="round"
      >
        Add Event
      </ion-button>

      <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
    </ion-list-header>
    <ion-content>
      <calendar
        [eventSource]="eventSource"
        [step]="calendar.step"
        noEventsLabel="No Event Today"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
      >
      </calendar>
    </ion-content>
    <ion-title>All Events</ion-title>
    <ion-card *ngFor="let event of eventSource">
      <ion-card-header>
        <ion-card-subtitle
          >{{event.startTime | date: 'MMM d, y, h:mm a'}} - {{event.endTime |
          date: 'MMM d, y, h:mm a'}}</ion-card-subtitle
        >
        <ion-card-title>{{event.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{event.description}} </ion-card-content>
    </ion-card>
  </ion-content>
  <div *ngIf="selectTabs === 'tasks'">
    <ion-list lines="full">
      <ion-list-header>
        <ion-label>
          Pending <ion-badge color="primary">{{tasks.length}}</ion-badge>
        </ion-label>
        <ion-button (click)="addTask()">Add New</ion-button>
      </ion-list-header>
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
      <ion-reorder-group
        [disabled]="false"
        (ionItemReorder)="handleReorder($any($event))"
      >
        <ion-item *ngFor="let task of tasks">
          <ion-label (click)="openTask(task)">{{task.title}}</ion-label>
          <ion-checkbox
            (ionChange)="toggleDone(task.id, $any($event))"
            slot="start"
            [checked]="task.done"
            aria-label="task"
          ></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
    <ion-list lines="full">
      <ion-list-header>
        <ion-label>
          Completed <ion-badge color="primary">{{doneTasks.length}}</ion-badge>
        </ion-label>

        <ion-button (click)="clearAllCheckedTasks()">Clear All</ion-button>
      </ion-list-header>
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
      <ion-reorder-group
        [disabled]="false"
        (ionItemReorder)="handleReorder($any($event))"
      >
        <ion-item *ngFor="let task of doneTasks">
          <ion-label
            [style.color]="task.done ? 'grey' : 'inherit'"
            [style.textDecoration]="task.done ? 'line-through' : 'none'"
            (click)="openTask(task)"
            >{{task.title}}</ion-label
          >
          <ion-checkbox
            aria-label="task"
            slot="start"
            [checked]="task.done"
            (ionChange)="toggleDone(task.id, $any($event))"
          ></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </div>
  <div *ngIf="selectTabs === 'notes'">
    <ion-card class="ion-margin-top" *ngFor="let note of notes">
      <ion-card-header (click)="openNote(note)">
        <ion-card-subtitle>{{note.timestamp}}</ion-card-subtitle>
        <ion-card-title>{{note.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content (click)="openNote(note)">
        {{note.text.slice(0, 100) + '...'}}
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addNewEvent()" color="tertiary" size="large">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addTask()" color="tertiary" size="large">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" size="large" (click)="addNote()">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
