<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My Classroom </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Classroom</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-list [inset]="true">
    <ion-item *ngFor="let student of newStudents">
      {{student.firstName}} {{student.lastName}}
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let student of newStudents">
    <ion-card-header>
      <ion-icon size="large" name="person-circle"></ion-icon>

      <ion-card-title>
        {{student.firstName}} {{student.lastName}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      ID: {{student.studentID}} | Course: {{student.courseID}} | Module 1:
      {{student.moduleNo1}} | Module 2: {{student.moduleNo2}}
    </ion-card-content>
  </ion-card>

  <!-- <ion-list [inset]="true">
    <ion-item *ngFor="let student of newStudents">
      <ion-avatar slot="start">
        <ion-icon size="large" name="person-circle"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{student.firstName}} {{student.lastName}}</h2>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
