<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My Modules </ion-title>

    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab3">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="newModules">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> My Modules</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- filter drop down from ionic select component -->
  <ion-list>
    <ion-item lines="none">
      <ion-label>Filter</ion-label>
      <ion-select
        class="ion-margin-top"
        label="Filter by Location"
        label-placement="floating"
        fill="outline"
        multiple="true"
        aria-label="Filter by Location"
        [(ngModel)]="selectedLocation"
        (ionChange)="filterModulesByLocation(selectedLocation)"
      >
        <ion-select-option value="all">All Locations</ion-select-option>
        <ion-select-option
          *ngFor="let location of uniqueLocations"
          [value]="location"
        >
          {{ location }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let module of newModules; let i = index">
    <ion-img
      [routerLink]="['/tabs/tab1-details', module.moduleNo]"
      button
      [src]="urlRandomImages + '/300/150'"
    ></ion-img>

    <ion-card-header
      [routerLink]="['/tabs/tab1-details', module.moduleNo]"
      button
    >
      <!-- Added the router link only to header and image so that edit and delete button function separately -->
      <ion-card-subtitle>Due: {{module.dueDate}}</ion-card-subtitle>
      <ion-card-title>{{i+1}}. {{module.moduleName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openMapFull()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
